html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.nav {
  display: flex;
  flex-direction: column;
}

.child1 {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 10px;
}

.child1 div a {
  padding: 10px;
  color: rgb(141, 140, 140);
  text-decoration: none;
}

.child2 {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  background-color: rgb(209, 209, 209);
}

.child2 div a {
  padding: 10px;
  text-decoration: none;
  color: gray;
}

.section1 {
  display: grid;
  margin: 10px;
  min-height: 500px;
  /* background-color: green; */
  grid-gap: 10px;
  grid-template: repeat(4, 1fr)/ repeat(6, 1fr);
}

.ar1 {
  grid-area: 1/1/5/5;
  background: url(../images/first.PNG) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.ar2 {
  grid-area: 1/5/3/7;
  background: url(../images/second.jpg) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.ar3 {
  grid-area: 3/5/5/7;
  /* background-color: cornflowerblue; */
  background: url(../images/third.PNG) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.section2 {
  display: grid;
  width: 100%;
  min-height: 400px;
  grid-gap: 20px;
  /* background-color: cyan; */
}

.sec1 {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  /* background-color: brown; */
  grid-gap: 20px;
}

.pt1 {
  grid-area: 1/1/3/1;
  background: url(../images/1.jpg) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pt2 {
  grid-area: 1/2/3/2;
  background: url(../images/2.png) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pt3 {
  grid-area: 1/3/3/3;
  background: url(../images/3.PNG) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pt4 {
  grid-area: 1/4/3/4;
  background: url(../images/4.jpg) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.sec2 {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  /* background-color: rgb(165, 42, 89); */
  grid-gap: 20px;
  margin-bottom: 20px;
}

.pic1 {
  grid-area: 1/1/3/1;
  background: url(../images/5.PNG) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pic2 {
  grid-area: 1/2/3/2;
  background: url(../images/6.png) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pic3 {
  grid-area: 1/3/3/3;
  background: url(../images/8.jpg) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pic4 {
  grid-area: 1/4/3/4;
  background: url(../images/8.PNG) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.section3 {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  /* background-color: rgb(165, 42, 89); */
  grid-gap: 20px;
  min-height: 200px;
}

.sec3 div {
  margin-bottom: 20px;
}

.sec3 {
  grid-area: 1/1/3/1;
  background-color: darkgreen;
}

.sec3two {
  grid-area: 1/2/3/2;
  background-color: darkred;
}

.sec3three {
  grid-area: 1/3/3/3;
  background-color: dimgray;
}

.sec3four {
  grid-area: 1/4/3/4;
  background-color: gold;
}

/* .section2{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  background-color: darkmagenta;
}

.sec1{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  background-color: darkorange;
}

.sec1 div{
  flex: 1;
  background-color: darkred;
} */