html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.nav {
  display: flex;
  flex-direction: column;
}

.child1 {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 10px;
}

.child1 div a {
  padding: 10px;
  color: rgb(141, 140, 140);
  text-decoration: none;
}

.child2 {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  background-color: rgb(209, 209, 209);
}

.child2 div a {
  padding: 10px;
  text-decoration: none;
  color: gray;
}

.section1 {
  display: grid;
  margin: 10px;
  min-height: 500px;
  grid-gap: 10px;
  grid-template: repeat(4, 1fr)/ repeat(6, 1fr);
}

.ar1 {
  grid-area: 1/1/5/5;
  background: url(../images/first.PNG) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.ar2 {
  grid-area: 1/5/3/7;
  background: url(../images/second.jpg) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.ar3 {
  grid-area: 3/5/5/7;
  background: url(../images/third.PNG) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.section2 {
  display: grid;
  width: 100%;
  min-height: 400px;
  grid-gap: 20px;
}

.sec1 {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  background-color: brown;
  grid-gap: 20px;
}

.pt1 {
  grid-area: 1/1/1/1;
  background: url(../images/1.jpg) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pt2 {
  grid-area: 1/2/1/2;
  background: url(../images/2.png) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pt3 {
  grid-area: 1/3/1/3;
  background: url(../images/3.PNG) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pt4 {
  grid-area: 1/4/1/4;
  background: url(../images/4.jpg) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pic1 {
  grid-area: 2/1/2/1;
  background: url(../images/5.PNG) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pic2 {
  grid-area: 2/2/2/2;
  background: url(../images/6.png) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pic3 {
  grid-area: 2/3/2/3;
  background: url(../images/8.jpg) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.pic4 {
  grid-area: 2/4/2/4;
  background: url(../images/8.PNG) 0 0 no-repeat;
  background-size: 100%;
  background-size: cover;
}

.section3 {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-gap: 20px;
  min-height: 200px;
}

.sec3 div {
  margin-bottom: 20px;
}

.sec3 {
  grid-area: 1/1/3/1;
  background-color: darkgreen;
}

.sec3two {
  grid-area: 1/2/3/2;
  background-color: darkred;
}

.sec3three {
  grid-area: 1/3/3/3;
  background-color: dimgray;
}

.sec3four {
  grid-area: 1/4/3/4;
  background-color: gold;
}

.section4 {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 5px;
  min-height: 1500px;
}

.f1 {
  grid-area: 1/1/1/1;
  background-color: darkblue;
}

.f2 {
  grid-area: 1/2/1/2;
  background-color: darkorange;
}

.f3 {
  grid-area: 1/3/1/3;
  background-color: rgb(99, 240, 240);
}

.f4 {
  grid-area: 2/1/2/1;
  background-color: rgb(67, 67, 71);
}

.f5 {
  grid-area: 2/2/2/2;
  background-color: darkorange;
}

.f6 {
  grid-area: 2/3/2/3;
  background-color: darkslategrey;
}

.f7 {
  grid-area: 3/1/3/1;
  background-color: darkblue;
}

.f8 {
  grid-area: 3/2/3/2;
  background-color: darkorange;
}

.footer {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  background-color: rgb(7, 7, 7);
}

.fo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222121;
  width: 100%;
  min-height: 200px;
}

.fo1 div {
  display: flex;
  justify-content: center;
}

.fo1 button {
  width: 50px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 100%;
  background-color: rgb(44, 44, 44);
  margin: 10px;
}

.fo1 ul {
  display: flex;
  justify-content: center;
}

.fo1 a {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.fo2 {
  color: white;
  text-align: center;
  padding: 40px;
}

@media only screen and (max-width: 1023px) {
  
  .sec1 {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }

  .pt1 {
    grid-area: 1/1/1/1;
  }

  .pt2 {
    grid-area: 1/2/1/2;
  }

  .pt3 {
    grid-area: 1/3/1/3;
  }

  .pt4 {
    grid-area: 3/1/3/1;
  }

  .pic1 {
    grid-area: 2/1/2/1;
  }

  .pic2 {
    grid-area: 2/2/2/2;
  }

  .pic3 {
    grid-area: 2/3/2/3;
  }

  .pic4 {
    grid-area: 3/2/3/2;
  }

  .section1 {
    min-height: 300px;
  }

  .section3 {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }

  .sec3 {
    grid-area: 1/1/3/1;
    background-color: darkgreen;
  }

  .sec3two {
    grid-area: 1/2/3/2;
    background-color: darkred;
  }

  .sec3three {
    grid-area: 1/3/3/3;
    background-color: dimgray;
  }

  .sec3four {
    display: none;
  }

  .section4 {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }

  .f1 {
    grid-area: 1/1/1/1;
    background-color: darkblue;
  }

  .f2 {
    grid-area: 1/2/1/2;
    background-color: darkorange;
  }

  .f3 {
    grid-area: 2/1/2/1;
    background-color: rgb(99, 240, 240);
  }

  .f4 {
    grid-area: 2/2/2/2;
    background-color: rgb(67, 67, 71);
  }

  .f5 {
    grid-area: 3/1/3/1;
    background-color: darkorange;
  }

  .f6 {
    grid-area: 3/2/3/2;
    background-color: darkslategrey;
  }

  .f7 {
    grid-area: 4/1/4/1;
    background-color: darkblue;
  }

  .f8 {
    grid-area: 4/2/4/2;
    background-color: darkorange;
  }
}

@media only screen and (max-width: 767px) {

  .section1 {
    grid-template: repeat(3, 1fr)/1fr;
    min-height: 300px;
  }

  .ar1 {
    grid-area: 1/1/1/1;
  }

  .ar2 {
    grid-area: 2/1/2/1;
  }

  .ar3 {
    grid-area: 3/1/3/1;
  }

  .sec1 {
    grid-template: repeat(8, 1fr) / 1fr;
    grid-gap: 5px;
    min-height: 600px;
  }

  .pt1 {
    grid-area: 1/1/1/1;
  }

  .pt2 {
    grid-area: 2/1/2/1;
  }

  .pt3 {
    grid-area: 3/1/3/1;
  }

  .pt4 {
    grid-area: 4/1/4/1;
  }

  .pic1 {
    grid-area: 5/1/5/1;
  }

  .pic2 {
    grid-area: 6/1/6/1;
  }

  .pic3 {
    grid-area: 7/1/7/1;
  }

  .pic4 {
    grid-area: 8/1/8/1;
  }

  .section3 {
    grid-template: repeat(3, 1fr) / 1fr;
    grid-gap: 5px;
    min-height: 800px;
  }

  .sec3 {
    grid-area: 1/1/1/1;
    background-color: darkgreen;
  }

  .sec3two {
    grid-area: 2/1/2/1;
    background-color: darkred;
  }

  .sec3three {
    grid-area: 3/1/3/1;
    background-color: dimgray;
  }

  .sec3four {
    display: none;
  }

  .section4 {
    grid-template: repeat(8, 1fr) / 1fr;
    width: 90%;
    margin: 0 auto;
  }

  .f1 {
    grid-area: 1/1/1/1;
    background-color: darkblue;
  }

  .f2 {
    grid-area: 2/1/2/1;
    background-color: darkorange;
  }

  .f3 {
    grid-area: 3/1/3/1;
    background-color: rgb(99, 240, 240);
  }

  .f4 {
    grid-area: 4/1/4/1;
    background-color: rgb(67, 67, 71);
  }

  .f5 {
    grid-area: 1/5/1/5;
    background-color: darkorange;
  }

  .f6 {
    grid-area: 6/1/6/1;
    background-color: darkslategrey;
  }

  .f7 {
    grid-area: 7/1/7/1;
    background-color: darkblue;
  }
  
  .f8 {
    grid-area: 8/1/8/1;
    background-color: darkorange;
  }
}
